@keyframes fadeInUp {
  from {
    transform: translate(0, 40px);
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

:root {
  --plyr-font-family: "Manga Temple", sans-serif;
  --plyr-font-size-base: 25px;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  flex: 1;
}

#container-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#video-container {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  border: 3px solid #d42332ff;
  background-color: #d42332ff;
  overflow: hidden;
}

#video-player {
  height: 100%;
  width: 100%;
}

#frame-image {
  width: 100%;
}

.flavor-image {
  animation-name: fadeInUp;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#flavor-image-1 {
  position: absolute;
  left: 0%;
  top: 5%;
  height: 95%;
}

#flavor-image-2 {
  position: absolute;
  left: 26.625%;
  top: 15%;
  width: 7.125%;
  animation-delay: 0.5s;
}

#flavor-image-3 {
  position: absolute;
  left: 30%;
  top: 15%;
  width: 11.6%;
  animation-delay: 1s;
}

#flavor-image-4 {
  position: absolute;
  left: 60%;
  top: 15%;
  width: 7%;
  animation-delay: 1.5s;
}

#flavor-image-5 {
  position: absolute;
  left: 65%;
  top: 15%;
  width: 10%;
  animation-delay: 2s;
}

#flavor-image-6 {
  position: absolute;
  left: 71%;
  top: 0%;
  height: 100%;
  animation-delay: 2.5s;
}

#video-container .plyr__progress input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-image: url("images/face.png");
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: translate(-7.5px, -7.5px);
}

#video-container .plyr__progress input[type="range"]::-moz-range-thumb {
  appearance: none;
  background-image: url("images/face.png");
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: translate(-7.5px, -7.5px);
}

.playlist-button {
  width: 100px;
  position: absolute;
  border-radius: 4px;
  top: 75%;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  max-height: 7.5%;
  background-color: rgb(86, 5, 12);
  color: white;
}

.playlist-button:disabled {
  color: gray;
}

#prev-button {
  left: 25%;
}

#next-button {
  right: 25%;
}
