/* @font-face {
    font-family: "Manga Temple";
    src: url("mangat-webfont.woff2") format("woff2"),
        url("mangat-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Manga Temple";
    src: url("mangatb-webfont.woff2") format("woff2"),
        url("mangatb-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Manga Temple";
    src: url("mangati-webfont.woff2") format("woff2"),
        url("mangati-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic; 
}*/

@font-face {
    font-family: "Lora";
    src: url("lora-variablefont_wght-webfont.woff2") format("woff2"),
        url("lora-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lora";
    src: url("lora-italic-variablefont_wght-webfont.woff2") format("woff2"),
        url("lora-italic-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}
