@use "sass:meta";
@use "vars";
@use "player";

@keyframes fadeInUp {
    from {
        transform: translate(0, 40px);
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
}

body {
    background-image: radial-gradient(#212121 20%, transparent 20%);
    background-color: white;
    background-position: 0 0, 25px 25px;
    background-size: 10px 10px;
    display: flex;
    align-items: center;
    flex: 1;
}

.xp,
.xp * {
    box-sizing: initial !important;
    scrollbar-color: #c8d6fb #fbfbf8;
    z-index: 100;
    line-height: 1;
}

#container-container {
    width: calc(100% - #{((vars.$chat-width * 2)+20)});
    @media (max-aspect-ratio: 14/9) {
        width: 95%;
        margin-bottom: 200px; // leave space at bottom for chat window in vertical mode
    }
    text-align: center;
}

#title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}

.flavor-image {
    animation-name: fadeInUp;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

#flavor-image-logo {
    height: 150px;
    max-width: 90%;
    animation-delay: 0.5s;
    margin-bottom: 20px;
    margin-top: 10px;
    @media (max-width: 600px) {
        margin-left: 10%;
    }
}

#video-title {
    background-color: vars.$bg-blue;
    border-radius: 10px;
    border: 2px solid vars.$mitchbot-blue;
    font-family: vars.$ms-font;
    color: vars.$mitchbot-blue;
    text-align: center;
    padding: 1px;
    font-size: 1.4em;
    padding: 5px 10px;
    font-weight: bold;
}

#playlist-container {
    text-align: left;
    margin: 10px auto;
    font-family: vars.$ms-font;
    width: 65%;
    @media (max-width: 600px) {
        width: 90%;
    }
}
