@use "vars";

#video-container {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    border: 3px solid vars.$mitchbot-blue;
    &.fullscreen {
        border: none;
        background-color: black;
        padding: 0 !important;
        height: 100%;
    }
    background-color: vars.$mitchbot-blue;
    overflow: hidden;
    position: relative;
}

#toast {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    background-color: gray;
    color: white;
    text-align: center;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 10px 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#big-loading-spinner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
    display: none;
}

#small-loading-spinner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin playerElement {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

video#player {
    @include playerElement;
}

#youtube-embed-location {
    @include playerElement;
}

#vimeo-embed-location {
    @include playerElement;
    & > div {
        height: 100%;
    }
}

#dailymotion-embed-location {
    @include playerElement;
    position: absolute !important;
}

#controls-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-family: vars.$pilot-font;
    & #bottom-row {
        height: 30px;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        & > * {
            margin: 0 5px;
        }
        & button,
        & button:active,
        & button:hover,
        & button:focus {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            box-shadow: none;
            height: 100%;
            & img {
                height: 60%;
            }
        }
    }
    opacity: 1;
    &.fadedOut {
        transition-duration: 1s;
        opacity: 0;
    }
    &:not(.fadedOut) {
        transition-duration: 0.25s;
    }
    transition-property: opacity;
}

#time-display {
    -webkit-text-stroke: vars.$mitchbot-blue 0.5px;
    font-weight: bold;
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
}

#seek {
    width: 100%;
}
