$ms-font: "Trebuchet MS", sans-serif;
$mitchbot-blue: #3e7ee4ff;
$bg-blue: #caf8f8;

$chat-width: 300px;

$track-color: #ffffff99;
$thumb_color: white;
$thumb-radius: 8px;
$thumb-height: 16px;
$thumb-width: 16px;
$thumb-border-width: 0;
@import "~input-range-scss/_inputrange.scss";
