@font-face {
    font-family: "B612";
    src: url("../../assets/fonts/b612-regular-webfont.woff2") format("woff2"),
        url("../../assets/fonts/b612-regular-webfont.woff") format("woff");
}

$ms-font: "Trebuchet MS", sans-serif;
$pilot-font: "B612", sans-serif;
$mitchbot-blue: #3e7ee4ff;
$bg-blue: #caf8f8;

$chat-width: 320px;

$track-color: #ffffff99;
$thumb_color: white;
$thumb-radius: 8px;
$thumb-height: 16px;
$thumb-width: 16px;
$thumb-border-width: 0;
@import "~input-range-scss/_inputrange.scss";
