@use "sass:meta";

@keyframes fadeInUp {
    from {
        transform: translate(0, 40px);
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes flashRed {
    0% {
        color: black;
    }
    25% {
        color: red;
    }
    50% {
        color: black;
    }
    75% {
        color: red;
    }
    100% {
        color: black;
    }
}

$manga-font: "Manga Temple", sans-serif;
$jojo-red: #d42332ff;

:root {
    --plyr-font-family: #{meta.inspect($manga-font)};  /* whyyyy */
    --plyr-font-size-base: 25px;
    @media (max-width: 500px) {
        --plyr-control-icon-size: 8px;
        --plyr-control-spacing: 5px;
        --plyr-font-size-small: 8px;
        --plyr-range-thumb-height: 9px;
    }
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    flex: 1;
}

#container-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#video-container {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    border: 3px solid $jojo-red;
    background-color: $jojo-red;
    overflow: hidden;
}

#video-player {
    height: 100%;
    width: 100%;
}

#toast {
    position: absolute;
    left: 25%;
    width: 50%;
    top: 15%;
    background-color: gray;
    color: white;
    text-align: center;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 10px 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#frame-image {
    width: 100%;
}

.flavor-image {
    animation-name: fadeInUp;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

#flavor-image-1 {
    position: absolute;
    left: 0%;
    top: 5%;
    height: 95%;
}

#flavor-image-2 {
    position: absolute;
    left: 26.625%;
    top: 15%;
    width: 7.125%;
    animation-delay: 0.5s;
}

#flavor-image-3 {
    position: absolute;
    left: 30%;
    top: 15%;
    width: 11.6%;
    animation-delay: 1s;
}

#flavor-image-4 {
    position: absolute;
    left: 60%;
    top: 15%;
    width: 7%;
    animation-delay: 1.5s;
}

#flavor-image-5 {
    position: absolute;
    left: 65%;
    top: 15%;
    width: 10%;
    animation-delay: 2s;
}

#flavor-image-6 {
    position: absolute;
    left: 71%;
    top: 0%;
    height: 100%;
    animation-delay: 2.5s;
}

@mixin progress-bar {
    appearance: none;
    background-image: url("/images/face.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    @media (max-width: 500px) {
        width: 9px;
        height: 9px;
        transform: translate(0px, 0px);
    }
}

#video-container .plyr__progress input[type="range"]::-webkit-slider-thumb {
    @include progress-bar;
    transform: translate(-7.5px, -7.5px);
}

#video-container .plyr__progress input[type="range"]::-moz-range-thumb {
    @include progress-bar;
    cursor: pointer;
}

@mixin below-video-style {
    background-color: $jojo-red;
    border-radius: 3px;
    border: 2px solid black;
    font-family: $manga-font;
    color: white;
    text-shadow: black 1px 1px;
    text-align: center;
    @media (max-width: 500px) {
        font-size: 0.3em;
    }
    padding: 1px;
}

#video-title {
    width: 200px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    @media (max-width: 500px) {
        width: 80px;
    }
    @include below-video-style;
}

.playlist-button {
    width: 60px;
    position: absolute;
    top: 75%;
    cursor: pointer;
    @media (max-width: 500px) {
        width: 20px;
    }
    @include below-video-style;
}

.playlist-button:disabled {
    color: gray;
    text-shadow: unset;
    cursor: default;
}

#prev-button {
    left: 25%;
}

#next-button {
    right: 25%;
}

.xp * {
    box-sizing: initial;
    scrollbar-color: #C8D6FB #FBFBF8;
}

.title-bar-text {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;;
}

#chat-window {
    position: fixed;
    width: 300px;
}

.window-body {
    font-family: "Trebuchet MS";
    height: 160px;
}

.chat-minimized {
    height: 0px;
    margin: 0px !important;
    overflow: hidden;
}

.avatar-row {
    display: flex;
    justify-content: center;
}

.avatar-option {
    display: inline;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    margin: 0 3px;
}

.avatar-option.selected {
    border: 2px solid $jojo-red;
}

.validation-warning {
    animation: 1s flashRed;
}

.xp input[type=text] {
    border: solid #7f9db9 1px;
}

#chat-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#messages {
    height: 100%;
    overflow-y: scroll;
}

#message-input-row {
    display: flex;
}

#message-input {
    width: 100%;
}

.message {
    margin: 5px 0;
}

.message:nth-of-type(2n) {
    background-color: lightgray;
}

.chat-user-label {
    display: flex;
    align-items: center;
}

.in-chat-avatar {
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.in-chat-username {
    font-weight: bold;
    font-size: 1.5em;
}
