@use "sass:meta";

@keyframes fadeInUp {
    from {
        transform: translate(0, 40px);
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes flashRed {
    0% {
        color: black;
    }
    25% {
        color: red;
    }
    50% {
        color: black;
    }
    75% {
        color: red;
    }
    100% {
        color: black;
    }
}

$ms-font: "Trebuchet MS", sans-serif;
$mitchbot-blue: #3e7ee4ff;

:root {
    --plyr-font-family: #{meta.inspect($ms-font)}; /* whyyyy */
    --plyr-font-size-base: 25px;
    @media (max-width: 500px) {
        --plyr-control-icon-size: 8px;
        --plyr-control-spacing: 5px;
        --plyr-font-size-small: 8px;
        --plyr-range-thumb-height: 9px;
    }
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
}

body {
    background-image: radial-gradient(#212121 20%, transparent 20%);
    background-color: white;
    background-position: 0 0, 25px 25px;
    background-size: 10px 10px;
    display: flex;
    align-items: center;
    flex: 1;
}

#container-container {
    width: 75%;
    @media (max-width: 500px) {
        width: 95%;
    }
    text-align: right;
}

#video-container {
    width: 100%;
    border: 3px solid $mitchbot-blue;
    background-color: $mitchbot-blue;
    overflow: hidden;
}

#video-player {
    height: 100%;
    width: 100%;
}

#toast {
    position: absolute;
    left: 25%;
    width: 50%;
    bottom: 20%;
    background-color: gray;
    color: white;
    text-align: center;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 10px 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.flavor-image {
    animation-name: fadeInUp;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

#flavor-image-logo {
    height: 150px;
    max-width: 90%;
    animation-delay: 0.5s;
    margin-bottom: 20px;
    margin-top: 10px;
}

@mixin below-video-style {
    background-color: $mitchbot-blue;
    border-radius: 3px;
    border: 2px solid black;
    font-family: $ms-font;
    color: white;
    text-shadow: black 1px 1px;
    text-align: center;
    padding: 1px;
}

#video-title {
    width: 40%;
    @include below-video-style;
}

#playlist-container {
    text-align: left;
    margin: 30px auto 50px auto;
    font-family: $ms-font;
    width: 60%;
    @media (max-width: 600px) {
        width: 90%;
    }
}

.playlist-item {
    background-color: white;
    margin: 5px 0px;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 3px;
    &.active {
        font-style: italic;
        color: gray;
    }
    &.not-active {
        text-decoration: underline;
        cursor: pointer;
    }
}

#playlist-header {
    padding: 10px 1px;
    margin: 0 auto;
    background-image: url("../assets/images/fun-square.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 150px;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.playlist-icon {
    height: 1em;
    margin: 0 5px;
}

.xp,
.xp * {
    box-sizing: initial !important;
    scrollbar-color: #c8d6fb #fbfbf8;
    z-index: 100;
    line-height: 1;
}

.title-bar-text {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#chat-window {
    position: fixed;
    width: 300px;
    left: 0;
}

.window-body {
    font-family: "Lora", serif;
    height: 160px;
    text-align: left;
}

.chat-minimized {
    height: 0px;
    margin: 0px !important;
    overflow: hidden;
}

.chat-minimized + div.status-bar {
    display: none;
}

#chat-login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
}

.avatar-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.avatar-option {
    display: inline;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    margin: 0 3px;
    cursor: pointer;
}

.avatar-option.selected {
    border: 2px solid $mitchbot-blue;
}

.validation-warning {
    animation: 1s flashRed;
}

.xp input[type="text"] {
    border: solid #7f9db9 1px;
    padding: 0 5px;
}

#chat-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#messages {
    height: 100%;
    overflow-y: scroll;
    padding: 7px;
    overflow-wrap: break-word;
}

#message-input-row {
    display: flex;
}

#message-input {
    width: 100%;
}

#send-message {
    min-width: initial;
}

.message {
    margin: 3px 0;
    width: 100%;
}

.announcement {
    font-style: italic;
    margin: 5px 0;
}

.chat-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3px;
}

.chat-section:last-of-type {
    margin-bottom: 0;
}

.chat-section-text {
    width: calc(100% - 35px);
    overflow-x: hidden;
}

.in-chat-avatar {
    display: inline;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.in-chat-username {
    font-weight: bold;
    font-size: 1.3em;
}
